@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

<div class="row gy-4">
    <div class="col-3">
        <EntityCard Title="Greens" Type="EntityType.Success" />
    </div>
    <div class="col-3">
        <EntityCard Title="Reds" Type="EntityType.Danger" />
    </div>
    <div class="col-3">
        <EntityCard Title="Yellows" Type="EntityType.Warning" />
    </div>
    <div class="col-3">
        <EntityCard Title="Blues" Type="EntityType.Primary" />
    </div>
    <div class="col-3">
        <EntityCard Title="Infos" Type="EntityType.Info" />
    </div>
    <div class="col-3">
        <EntityCard Title="Secondaries" Type="EntityType.Secondary" />
    </div>
</div>