@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

<div class="row gy-4">
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Greens"
                    Type="EntityType.Success" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Reds"
                    Type="EntityType.Danger" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Yellows"
                    Type="EntityType.Warning" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Blues"
                    Type="EntityType.Primary" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Infos"
                    Type="EntityType.Info" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Secondaries"
                    Type="EntityType.Secondary" />
    </div>
</div>