@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation

<PageTitle>SignalR with Stride</PageTitle>

<h1>Hello, Stride Community!</h1>

<div class="row gy-4">
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Greens"
                    Type="EntityType.Success" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Reds"
                    Type="EntityType.Danger" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Yellows"
                    Type="EntityType.Warning" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Blues"
                    Type="EntityType.Primary" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Infos"
                    Type="EntityType.Info" />
    </div>
    <div class="col-3">
        <EntityCard CountCallback="OnCountCallback"
                    MessageCallback="OnMessageCallback"
                    Title="Secondaries"
                    Type="EntityType.Secondary" />
    </div>
</div>
<div class="mt-3">
    @for (int i = messages.Count - 1; i >= 0; i--)
    {
        var message = messages[i];
        <div class="text-@(message.Type.ToString().ToLowerInvariant())">@message.Text</div>
    }
</div>