# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# VS Default Spell Checker
[*]
spelling_languages = en-GB,en-US

# All files
[*]
indent_style             = space
charset                  = utf-8
trim_trailing_whitespace = true

[*.cs]
indent_style                                                      = space
indent_size                                                       = 4
csharp_preserve_single_line_blocks                                = true
csharp_prefer_braces                                              = false : warning
csharp_style_expression_bodied_methods                            = true : suggestion
csharp_style_expression_bodied_constructors                       = true : suggestion
csharp_style_expression_bodied_operators                          = true : suggestion
csharp_style_expression_bodied_properties                         = true : suggestion
csharp_style_expression_bodied_indexers                           = true : suggestion
csharp_style_expression_bodied_accessors                          = true : suggestion
#dotnet_sort_system_directives_first = true

# name all constant fields using PascalCase
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style    = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds            = field
dotnet_naming_symbols.constant_fields.required_modifiers          = const
dotnet_naming_style.pascal_case_style.capitalization              = pascal_case

# private readonly ILogger<NeptuneClient> _logger;
dotnet_naming_rule.camel_case_for_private_internal_fields.severity = suggestion
dotnet_naming_rule.camel_case_for_private_internal_fields.symbols  = private_internal_fields
dotnet_naming_rule.camel_case_for_private_internal_fields.style    = camel_case_underscore_style
dotnet_naming_symbols.private_internal_fields.applicable_kinds = field
dotnet_naming_symbols.private_internal_fields.applicable_accessibilities = private, internal
dotnet_naming_style.camel_case_underscore_style.required_prefix = _
dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case

# Xml files
[*.xml]
indent_size = 2
