@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.stride3d.net/" target="_blank">Stride Web</a>
            <a href="https://doc.stride3d.net/latest/en/index.html" target="_blank">Stride Docs</a>
            <a href="https://stride3d.github.io/stride-community-toolkit/index.html/" target="_blank">Stride Community Toolkit</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
