name: .NET Build Test

env:
  PROJECTS: |
    src/Stride.CommunityToolkit/Stride.CommunityToolkit.csproj
    src/Stride.CommunityToolkit.Bepu/Stride.CommunityToolkit.Bepu.csproj
    src/Stride.CommunityToolkit.Bullet/Stride.CommunityToolkit.Bullet.csproj
    src/Stride.CommunityToolkit.DebugShapes/Stride.CommunityToolkit.DebugShapes.csproj
    src/Stride.CommunityToolkit.ImGui/Stride.CommunityToolkit.ImGui.csproj
    src/Stride.CommunityToolkit.Skyboxes/Stride.CommunityToolkit.Skyboxes.csproj
    src/Stride.CommunityToolkit.Windows/Stride.CommunityToolkit.Windows.csproj
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Stride Community Toolkit
      uses: actions/checkout@v4

    - name: .NET Setup
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build projects
      run: |
        for project in ${{ env.PROJECTS }}; do
          echo "Building $project"
          dotnet restore $project
          dotnet build $project --no-restore
        done
      shell: bash
