name: .NET Build Test

env:
  PROJECTS: |
    src/Stride.CommunityToolkit/Stride.CommunityToolkit.csproj
    src/Stride.CommunityToolkit.Bepu/Stride.CommunityToolkit.Bepu.csproj
    src/Stride.CommunityToolkit.Bullet/Stride.CommunityToolkit.Bullet.csproj
    src/Stride.CommunityToolkit.DebugShapes/Stride.CommunityToolkit.DebugShapes.csproj
    src/Stride.CommunityToolkit.ImGui/Stride.CommunityToolkit.ImGui.csproj
    src/Stride.CommunityToolkit.Skyboxes/Stride.CommunityToolkit.Skyboxes.csproj
    src/Stride.CommunityToolkit.Windows/Stride.CommunityToolkit.Windows.csproj
    src/Stride.CommunityToolkit.Linux/Stride.CommunityToolkit.Linux.csproj
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Stride Community Toolkit
      uses: actions/checkout@v5

    - name: .NET Setup
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Build projects
      run: |
        IFS=$'\n'
        for project in $PROJECTS; do
          echo "Building $project"
          dotnet restore "$project"
          dotnet build "$project" --no-restore
        done
      shell: bash
